{% extends 'main/base.html' %}

{% load bootstrap4 %}

{% block title %}
    User Authorization
{% endblock title %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Authorization</h3>
    <hr>
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='vertical' %}
            <hr>
            {% buttons submit='Sign In' %}{% endbuttons %}
        </form>
    </div>
</div>
{% endblock content %}