{% extends 'layout/base.html' %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{{ rubric }}{% endblock title %}

{% block content %}
<h2 class="mb-2">{{ rubric }}</h2>
<div class="container-fluid mb-2">
    <div class="row">
        <div class="col">&nbsp;</div>
        <form class="col-md-auto form-inline">
            {% bootstrap_form form show_label=False %}
            {% bootstrap_button content='Поиск' button_type='submit' %}
        </form>
    </div>
</div>
{% if advertisements %}
<ul class="list-unstyled">
    {% for adv in advertisements %}
    <li class="media my-5 p-3 border">
        {% url 'src.main:detail' rubric_pk=rubric.pk pk=adv.pk as url %}
        <a href="{{ url }}{{ all }}">
            {% if adv.image %}
            <img class="mr-3" src="{% thumbnail adv.image 'default' %}">
            {% else %}
            <img class="mr-3" src="{% static 'main/img/empty.jpg' %}">
            {% endif %}
        </a>
        <div class="media-body">
            <h3><a href="{{ url }}{{ all }}">
                {{ adv.title }}
            </a></h3>
            <div>{{ adv.content }}</div>
            <p class="text-right font-weight-bold">{{ adv.price }} руб.</p>
            <p class="text-right font-italic">{{ adv.created_at }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% bootstrap_pagination page url=keyword %}
{% endif %}
{% endblock content %}
