{% extends 'account/profile.html' %}

{% load bootstrap4 %}

{% load tag_filters %}

    {% block title %}
        {{ title }}
    {% endblock title %}

    {% block materials %}

        {% for program in materials %}

            <div class="container">
                <p>Course - <strong>{{ program.course.name }}</strong></p>
                    <p>Contents:</p>
                    {% for mat in program.course.material.all %}
                        <p>{{ mat.name }}</p>
                    {% endfor %}
                <hr>
            </div>
        {% endfor %}
    {% endblock materials %}