{% extends 'account/profile.html' %}

{% load bootstrap4 %}
{% load tag_filters %}

    {% block title %}
        {{ title }}
    {% endblock title %}

    {% block materials %}

        {% for program in materials %}

            <div class="container">
                <p>Course - <strong>{{ program.course.name }}</strong></p>
                    <p>Contents:</p>
                    {% for mat in program.course.material.all %}
                        <p>{{ mat.name }}</p>
                    {% endfor %}
                <h4>assessment - <strong>{{ program.assessment }}</strong></h4>
                <a href="{% url 'change_assessment' %}"><button type="button" class="w-40 btn btn-lg btn-outline-primary">Change assessment</button></a>
                <p>Comments:<br>{{ program.comment }}</p><br>

                <hr>
            </div>
        {% endfor %}
    {% endblock materials %}