{% extends 'main/base.html' %}

{% block title %}User Profile{% endblock title %}

{% block content %}
<br>
<h2>Profile for user {{ user.username }}</h2>
{% if user.first_name and user.last_name %}
    <p>Hello dear {{ user.first_name }} {{ user.last_name }}!</p>
{% else %}
    <p>Hello!</p>
{% endif %}
<div class="col-md-6 offset-md-3">
<a href="{% url 'change_profile' %}"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Change profile</button></a>
<a href="{% url 'change_password' %}"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Change password</button></a>
</div>
<h3>Your courses</h3>

{% endblock content %}